:root{
	--fore:#efe9f0;/* white */
	--back:#4c566a;/* grey/blue */
	--darkGrey:#2E3440;
}
body {
	background-color:var(--fore); 
}
main {
	margin-left:5%;
	margin-right:5%;
	box-shadow:0px 0px 30px grey;
}
header {
	text-align:center;
	font-size:120%;
	color:var(--fore);
	text-decoration:underline;
}
a {
	text-decoration:underline;
	color:var(--fore);
}
li {
	margin-left: 20%;
}
#Banner{
	text-align: center;
	font-size: 300%;
	background-image:url(../Images/arctic.gif);
	background-size:100%;
	background-repeat:no-repeat;
	color:var(--fore);
	padding:300px;
}
#AboutMe{
	border-bottom:2px solid grey;
	font-size:150%;
	padding-left:100px;
	padding-right:100px;
	padding-top:50px;
	padding-bottom:250px;
	background-color:var(--back);
	color:var(--fore);

}
.meIMG {
	height:400px;
	width:200px;
	float:right;
}
.flexbox-container {
	display:flex;
	background-color:var(--back);
	align-items:center;
	padding:10px;
}
.flexbox-item {
	text-align:center;
	margin:10px;
	background-color:var(--fore);
	color:var(--fore);
	font-size:200%;
	flex-grow:1;
	height:300px;
	background-size:100%;
	background-repeat:no-repeat;
}
	.CTF {
		background-image:url("../Images/hacker.jpeg");
		box-shadow:0px 0px 0px grey;
	}
	.Coding {
		background-image:url("../Images/penguins.jpeg");
		box-shadow:0px 0px 0px grey;
	}
	.Cars {
		background-image:url("../Images/EngineBay.JPG");
		box-shadow:0px 0px 0px grey;
	}
