:root{
	--customGrey:#333333;/* grey */
	--fore:#00ffff; /*cyan*/
	--back:#1a1a1a;/* black */
}
button {
	font-size: 170%;
	color:var(--fore);
	background-color:var(--back);
	border: 2px solid var(--fore);
	/*
	border-radius:5px;
	 */
}
a {
	text-decoration:none;
}
.container-fluid {
	/*
	 box-shadow:0px 0px 30px grey;
	 */
	background-color:var(--back);
	color:var(--fore);
}
.row {
	height: 500px;

}

.col {
	text-align:center;
	background-color:var(--customGrey);
	height: 100%;
	border-bottom: 2px solid var(--fore);
}
#navbar {
	background-color:var(--back);
	margin: 10px;
	height: 75px;
}
#nav {
	padding: 10px;
}
#footer {
	background-color:var(--back);
	margin-top: 65px;
	height: 75px;
}
