:root{
	--customGrey:#333333;/* grey */
	--fore:#00ffff; /*cyan*/
	--back:#1a1a1a;/* black */
}
button {
	font-size: 170%;
	color:var(--fore);
	background-color:var(--back);
	border: none;
	}
a {text-decoration:none;}
img {
	max-height: 90%;
	max-width: 90%;
}
h2 {
	margin-top: 100px;
	margin-left: 30px;
}
p {
	margin-left:10px;
	margin-top:50px;
	max-height:100%;
}

.container-fluid {
	background-color:var(--back);
	color:var(--fore);
}
.col {
	background-color:var(--customGrey);
	border: 2px solid var(--fore);
	font-size: 150%;
}
.projects {margin-top: 20px;}
#navbar {background-color:var(--back);}
#nav {
	padding: 10px;
	height: 50px;
}
#footer {
	background-color:var(--back);
	margin-top: 65px;
}
#me {margin-top: 30px;}
#animation {background-color:var(--back)}
#mainTitle{
	position: absolute;
	font-size: 300%;
	color: var(--fore);
	margin:0px;
	letter-spacing:5px;
}
#about {
	margin-left: 150px;
	margin-right:150px;
}


/* MEDIA QUERIES */

/*MEDIUM SCREENS */
@media (max-width: 768px) { 
p {font-size: 90%;}
button {font-size: 150%;}
#about {
	margin-left:0px;
	margin-right:0px;
}
}
/*SMALL SCREENS */
@media (max-width: 576px) { 
p {font-size: 70%;}
button {font-size:100%;}
#about {
	margin-left:0px;
	margin-right:0px;
}
#mainTitle{font-size:150%}
#footer{height:150px;}
#navbar{height:200px;}
}

